.container-fluid h5{
    text-align: center;
}



.container-fluid form .row label{
    width: 50px;
  
    margin-top: 5px;
  }
.container-fluid form .row input{
     
    margin-left: 200px;
    margin-top: 5px;
    border-radius: 10px
  
  }