.container-fluid .row .add{
    border-radius: 8px; 
    width: 300px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 50px  
}
.container-fluid .row .add value{
    font-family:cursive;
    border: none;
    
}

.container-fluid .row .records{
    margin-left: 50px;
    width: 300px;
    border-radius: 8px; 
    background-color: white;
    text-decoration: none;
    display: inline-block;
    border: 0.25px solid #323633;
}

.container-fluid .row .records:hover{
    background-color: rgb(100, 90, 250);
    color: white;
    animation-delay: 3ms;
}

.container .addDetails{
    padding-top: 50px;
}
.container .addDetails h5{
    text-align: center;
}
.container .addDetails input{
    margin-top: 50px;
    height: 30px;
    border-radius: 8px;
    border: 0.25px solid #323633;
    padding-left: 5px; 
}

.container .row .submitBill{
    margin-left: 500px;
    margin-top: 30px;
    width: 150px;
    border-radius: 8px; 
    background-color: white;
    text-decoration: none;
    display: inline-block;
    border: 0.25px solid #323633;
}

.container .row .submitBill:hover{
    background-color: rgb(100, 90, 250);
    color: white;
    animation-delay: 3ms;
}